@model IEnumerable<LunchPicker.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PICK A RESTAURANT</h1>
    
    <div>
        @foreach (var r in Model)
        {
            @Html.ActionLink(r.Name,
               "Vote",
               new { id = r.ID },
               new { @class = "btn btn-default btn-vote" })
        }
    </div>
    <div style="margin-top: 20px; text-align: right">
        @Html.ActionLink("...or view results", "Results", null, new { @class = "btn btn-primary" })
    </div>
</div>